<!-- <app-add-item></app-add-item>
<app-todo-list-items></app-todo-list-items> -->

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-12">
                <div class="card px-3">
                    <div class="card-body">
                        <h4 class="card-title">Awesome Todo list</h4>
                        <app-add-item></app-add-item>
                        <app-todo-list-items></app-todo-list-items>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>