<div class="page-content page-container" id="page-content">
  <div class="header">
    <h1>Angular State Management By Ngrx</h1>
    <small>By Sharad Shinde</small>
  </div>
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-lg-7">
        <div class="card px-3">
          <div class="card-body">
            <h4 class="card-title">Awesome Todo list</h4>
            <app-add-item></app-add-item>
            <app-todo-list-items></app-todo-list-items>
          </div>
        </div>
      </div>
      <div class="col-lg-5 card">
        <app-ngrx-states-logger></app-ngrx-states-logger>
      </div>
    </div>
  </div>
</div>
